/*----------------------*/
/*     Google Fonts     */
/*----------------------*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=League+Spartan:wght@100..900&display=swap');

/*-----------------------*/
/*       Variáveis       */
/*-----------------------*/

:root {
    --marrom-1: #47392E;
    --marrom-2: #584839;
    --marrom-3: #8d7a62;
    --marrom-4: #c4b69c;
    --marrom-5: #d6cab2;
    --branco: #ffffff;
    --preto: #000000;
    --primeira-font: 'Lato', sans-serif;
    --segunda-font: 'League Spartan', sans-serif;
}

/*-----------------------*/
/*   Seletor Universal   */
/*-----------------------*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--segunda-font);
}

/*---------------------*/
/*        Header       */
/*---------------------*/

header {
    width: 100%;
    /*Largura*/
    display: flex;
    /*Deixa os elementos na mesma linha*/
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
    background-color: var(--marrom-1);
}

.container-logo {
    display: flex;
    align-items: center;
}

.container-logo a {
    text-decoration: none;
    color: var(--marrom-5);
    font-size: 15px;
}

.menu li {
    display: inline-block;
    margin: 0 18px;
}

.menu li a {
    font-size: 18px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px 10px;
}

.menu li a:hover {
    background-color: var(--marrom-2);
    border-radius: 8px;
    transition: 0.10s;
}

/*---------------------*/
/*        Main         */
/*---------------------*/

/* MAPA */

.mapa {
    width: 100%;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-map {
    width: 70%;
    height: 20rem;
    background-color: var(--marrom-5);
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

.mapa-frame {
    width: 50%;
    height: 100%;
}

.mapa-frame iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
}

.info-button {
    width: 50%;
    height: 100%;
}

.info-button h2 {
    text-align: center;
    padding: 3rem 0 2rem 0;
}

.info-button p {
    text-align: center;
    padding: 0 0 5rem 0;
}

.button-map {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
}

.button-map button {
    padding: 2rem 2rem;
    display: flex;
    align-items: center;
    border-radius: 0.8rem;
    background-color: var(--marrom-4);
    border: none;
}

.button-map a {
    text-decoration: none;
    color: var(--preto);
}

.button-map button:hover {
    border: none;
    background-color: var(--marrom-3);
}

/* NOSSA HISTÓRIA */
.historia {
    display: flex;
    justify-content: center;
    padding: 3rem;
}

.about-history {
    width: 80%;
    padding: 0 2rem;
}

.about-history h2 {
    padding: 2rem 0;
}

.about-history p {
    font-size: 17px;
}


/* MISSÃO, VALORES E VISÃO */

.informacoes {
    width: 100%;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.informacoes h2 {
    text-align: center;
}

.cards {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;

}

.card1,
.card2,
.card3 {
    width: 17%;
    height: 70%;
    background-color: var(--marrom-5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.imagem_card img {
    width: 100%;
    height: 45%;
    border-radius: 10px 10px 0 0;
}

.informacoes_card {
    width: 93%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 10px;
    gap: 0.5rem;
    color: var(--marrom-1);
}

.informacoes_card .descricao_produto {
    display: flex;
    flex-direction: column;
    width: 98%;
    align-items: center;
}

.informacoes_card h1 {
    font-size: 20px;
    padding: 7px 0;
}

.informacoes_card p {
    font-size: 16px;
    text-align: center;
}

.imagem_card {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem_card img {
    width: 40%;
    height: 70%;
}

/* CRIADORES */

.criadores {
    background-color: #7f37c9;
    width: 100%;
    height: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.cards-creators {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.creator1 {
    background-color: #25d366;
    width: 17%;
    height: 50%;
    border-radius: 10px;
}

.creator2 {
    background-color: #ff9807;
    width: 17%;
    height: 50%;
    border-radius: 10px;
}

.img-creator img {
    width: 100%;
    height: 45%;
    border-radius: 10px 10px 0 0;
}

.creator-name h2 {
    text-align: center;
}

.about-creators p {
    font-size: 17px;
}

/* ENTRE EM CONTATO */

.form {
    display: flex;
    justify-content: center;
    padding: 3rem;
}

.container_form {
    width: 50%;
    height: 28rem;
    display: flex;
    flex-direction: row;
}

.entre_contato {
    background-color: var(--marrom-5);
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 4rem;
    border-radius: 10px 0 0 10px;
}

.entre_contato h1 {
    height: 6%;
    width: 100%;
    color: var(--marrom-1);
    padding: 2rem 0;
}

.inputs {
    width: 100%;
    height: 90%;
    flex-direction: column;
    display: flex;
    gap: 1.2rem;
}

#nome,
#email,
#mensagem,
#button {
    padding: 0.8rem;
    border: navajowhite;
    border-radius: 0.8rem;
    background-color: var(--marrom-4);
}

#button:hover {
    border: none;
    background-color: var(--marrom-3);
}

.image_form {
    width: 50%;
    height: 100%;
}

.image_form img {
    width: 100%;
    height: 100%;
    border-radius: 0 10px 10px 0;
}

/*--------------------*/
/*       Rodapé       */
/*--------------------*/


footer {
    width: 100%;
    color: var(--marrom-5);
    bottom: 0px;
    padding: 0;
    left: 0px;
    font-size: 15px;
    margin-top: 20px;
}

.footer-link {
    text-decoration: none;
}

#conteudo-footer {
    background-color: var(--marrom-1);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1rem 3.5rem;
}

#footer-contatos h1 {
    margin-bottom: 0.75rem;
}

#footer-redes-sociais {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer-redes-sociais .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--branco);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer-redes-sociais .footer-link i {
    font-size: 1.25rem;
}

#footer-redes-sociais .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: var(--preto);
}

#whatsapp {
    background-color: #25d366;
}

.footer-lista {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-lista .footer-link {
    color: var(--branco);
    transition: all 0.4s;
    font-size: 13px;
}

.footer-lista .footer-link:hover {
    color: var(--marrom-3);
}

#footer-assinatura {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer-assinatura p {
    color: var(--branco);
}

#input-grupo {
    display: flex;
    align-items: center;
    background-color: var(--marrom-3);
    border-radius: 4px;
}

#input-grupo input {
    all: unset;
    padding: 0.5rem;
    width: 100%;
}

#input-grupo button {
    background-color: var(--marrom-2);
    border: none;
    color: var(--branco);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input-grupo button:hover {
    opacity: 0.8;
}

#footer-copyright {
    display: flex;
    justify-content: center;
    background-color: var(--marrom-3);
    font-size: 0.9rem;
    padding: 1rem;
    font-weight: 100;
    color: var(--branco);
}

@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}